@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
	themes: silk --default --prefersdark;
}


/* Custom CSS */

a.active {
	@apply text-neutral underline;
}

body {
	font-family: "Inter", sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
	@apply !text-primary-content;
}

.swiper-pagination-bullet-active {
	@apply !bg-primary-content;
}


.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
